.primary {
  background-color: var(--blue);
  padding: 0.1rem;
  border-radius: 0.3rem;
  border: 0.25rem transparent solid;
  outline: var(--white) 0.1rem solid;
  cursor: pointer;
  width: 2rem;
  height: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.secondary {
  background-color: var(--white);
  color: var(--blue);
  border-color: var(--blue);
}

.primary svg {
  width: 100%;
  height: 100%;
}

.primary svg path {
  fill: var(--white);
}

.secondary svg path {
  fill: var(--blue);
}
