.inputContainer {
  width: 100%;

  display: flex;
  gap: 1rem;
}

.inputContainer label {
  flex: 1 0;
}

.inputContainer input {
  width: 2rem;
  margin-left: auto;
  border-radius: 0.2rem;
  padding: 0 0.2rem;
  border: 0.2rem var(--black) solid;

  flex: 0 1;
}

.inputContainer p {
  width: 2rem;
  line-height: 2;
  border-radius: 0.2rem;
  background-color: var(--black);
  color: var(--white);
  text-align: center;
}
